/*
 *  Here goes css which are applied globally to the entire website.
 *  For example css selecting all body, html, h1, p, a or img tags.
 */

 * {
   box-sizing: border-box;
 }

 body {
   font-family: Arial, Helvetica, sans-serif;
   overflow-x: hidden; /* Disable horizontal scrolling */
   /* Position content under navigationbar */
   margin: 80px 0 0 0;
   padding: 0;
 }

 main {
   max-width: 1000px;
   margin: auto;
 }

 h1 {
    margin-top: 7vh;
 }

 h3 {
   margin-top: 80px;
   margin-left: 16px;
   margin-right: 16px;
   font-size: 26px;
   border-bottom: 2px solid #4ca146;
 }

 h4 {
   margin-left: 16px;
   margin-right: 16px;
 }

 h5 {
   max-width: 1000px;
   padding: 0 16px;
   margin: 80px auto;
   color: white;
   font-size: 50px;
   text-align: left;
 }

 p {
   margin-left: 16px;
   margin-right: 16px;
   line-height: 185%;
 }

/* Source links */
 p a {
   text-decoration: none;
   color: black;
 }

 /* Divide the page into 6 columns. The grid class needs to wrap everything
 in the body */
.grid {
  display: grid;
  grid-template-columns: [col-1-start] 1fr [col-2-start] 1fr [col-3-start]
      1fr [col-4-start] 1fr [col-5-start] 1fr [col-6-start] 1fr [col-6-end];
  grid-row: auto;
}

/* Full width with padding */
.col-full {
  grid-column: col-1-start/col-6-end;
}

/* The first half */
.col-1-3 {
  grid-column: col-1-start/col-4-start;
}

/* Second half */
.col-4-6 {
  grid-column: col-4-start/col-6-end;
}

/* Horizontal navigation bar */
/*.navigation */

.navigation {
  background-color: white;
  border-bottom: 2px solid #4ca146;
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0;
  z-index: 3;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: white;
}

.navigation li a {
  color: black;
  display: block;
  padding: 30px 30px;
  text-decoration: none;
}

.navigation li a:hover,
.navigation .hamburger-button:hover {
  background-color: #f4f4f4;
}

.navigation li {
  float: left;
}

.navigation .logo {
  display: block;
  float: left;
  padding: 15px 20px;
  text-decoration: none;
}

/* menu */

.navigation .menu {
  clear: none;
  float: right;
  max-height: none;
  transition: max-height .2s ease-out;
}

/* menu icon */

.navigation .hamburger-icon {
  display: none;
}

.navigation .hamburger-icon .navigation-icon {
  background: #4ca146;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.navigation .hamburger-icon .navigation-icon:before,
.navigation .hamburger-icon .navigation-icon:after {
  background: #4ca146;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.navigation .hamburger-icon .navigation-icon:before {
  top: 5px;
}

.navigation .hamburger-icon .navigation-icon:after {
  top: -5px;
}

/* menu btn */

.navigation .hamburger-button {
  display: none;
}

.navigation .hamburger-button:checked ~ .menu {
  max-height: 240px;
}

.navigation .hamburger-button:checked ~ .hamburger-icon .navigation-icon {
  background: transparent;
}

.navigation .hamburger-button:checked ~ .hamburger-icon .navigation-icon:before {
  transform: rotate(-45deg);
}

.navigation .hamburger-button:checked ~ .hamburger-icon .navigation-icon:after {
  transform: rotate(45deg);
}

.navigation .hamburger-button:checked ~ .hamburger-icon .navigation-icon:before,
.navigation .hamburger-button:checked ~ .hamburger-icon .navigation-icon:after {
  top: 0;
}



/* Image container with display flex for positioning images inside a div */
.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Code all buttons use */
button {
  background-color: #4ca146; /* Green backgroundcolor */
  color: white;
  font-family: inherit;
  outline: none; /* No black border when clicking on the button */
  border-radius: 4px; /* Rounder edges */
}

/* All buttons use this hover effect */
button:hover {
  background-color: #448e3e;
}

/* Positioning of and additional code for the logo button */
.logo button {
  border: none;
  font-size: 24px;
  padding: 4px 10px 4px 10px; /* Top right bottom left */
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: #4ca146;
  margin-top: 10px;
  padding: 0 30px;
}

/* Positioning of and additional code for the source button */
footer button {
  border: 1px solid white;
  /*font-size: 1.3vw;*/
  font-size: 17px;
  padding: 5px;
  margin: 15px 0px 15px 0px; /* Top right bottom left */
}

/* phone version */
@media only screen and (max-width: 600px) {
  .col-full {
    grid-column: col-1-start/col-6-end;
  }

  /* .col-1-3 -> .col-full */
  .col-1-3 {
    grid-column: col-1-start/col-6-end;
  }

  /* .col-4-6 -> .col-full */
  .col-4-6 {
    grid-column: col-1-start/col-6-end;
  }


  .navigation li {
    width: 100vw;
  }
  .navigation li a {
    padding: 20px 20px;
  }
  .navigation .menu {
    clear: both;
    float: left;
    max-height: 0;
  }

  .navigation .hamburger-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }

}
