/*
 *  Here goes css specific to the index.html page
 */

/* The design of the first box containing the pitch */
.pitchStyle {
  background-color: #4ca146;
  color:white;
}

.pitchStyle h1 {
  font-size: 3vw;
  margin: 37vh 0vw 0vw 5vw; /* Top right bottom left */
}

.pitchStyle h2 {
  font-size: 1.5vw;
  margin: 0 0 0 5vw; /* Top right bottom left */
}

.pitchImage,
.pitchStyle {
  height: 90vh;
}

.pitchImage {
  width: 50vw;
}

.challenge-intro img {
  width: 33%;
  padding: 1px;
}

.solution-intro {
  width: 100%;
}
.solution-intro img {
  display: block;
  width: 30%;
  margin: auto;
}

.topMargin {
  margin-top: 9vw;
}

@media only screen and (max-width: 1000px) {
  .challenge-intro img {
    width: 32.8%;
    padding: 1px;
  }
}


/* phone version */
@media only screen and (max-width: 600px) {
  .pitchStyle h1 {
    margin: 17vh 0vw 0vw 5vw;
    font-size: 7vw;
  }

  .pitchStyle h2 {
    font-size: 3.5vw;
  }

  .pitchStyle {
    width: 100vw;
    height: 45vh;
  }

  .pitchImage {
    height: 45vh;
    margin-top: 0vw;
  }

  .pitchImage {
    width: 100vw;
  }

  .challenge-intro img {
    padding: 1px;
    width: 100%;
    height: 100%;
  }

  .solution-intro img {
    width: 100%;
  }

  .topMargin {
    margin-top: 0vw;
  }
}
