/*
 *  Here goes css specific to the index.html page
 */

/* The design of the first box containing the pitch */
.pitchStyle {
  background-color: #4ca146;
  color:white;
}

.pitchStyle h1 {
  font-size: 3vw;
  margin: 37vh 0vw 0vw 5vw; /* Top right bottom left */
}

.pitchStyle h2 {
  font-size: 1.6vw;
  margin: 0 0 0 5vw; /* Top right bottom left */
}

.pitchImage,
.pitchStyle {
  height: 90vh;
}

.pitchImage {
  width: 50vw;
}

.challenge-intro img {
  width: 33%;
  padding: 1px;
}

.solution-intro {
  width: 100%;
  margin-top: 1vw;
  margin-bottom: 2vw;
}
.solution-intro img {
  display: block;
  width: 30%;
  margin: auto;
}

.topMargin {
  margin-top: 9vw;
}

/* Tablet version */
@media only screen and (max-width: 1000px) and (orientation: landscape) {
  .pitchStyle h1 {
    margin: 35vh 0vw 0vw 2vw; /* Top right bottom left */
    font-size: 3.6vw;
  }

  .pitchStyle h2 {
    font-size: 2vw;
    margin: 0 0 0 2vw; /* Top right bottom left */
  }

  .pitchImage,
  .pitchStyle {
    height: 85vh;
  }

  .pitchImage {
    width: 120vw; /* Wider imagebox */
    margin-left: -20vw; /* Overlap with pitchbox */
    position: relative;
    z-index: -1; /* Place imagebox under pitchbox */
  }

  .challenge-intro img {
    width: 32.8%;
    padding: 1px;
  }
}

/* Tablet portraitmode */
@media only screen and (max-width: 1000px) and (orientation: portrait) {
  .pitchStyle h1 {
    margin: 10vh 0vw 0vw 5vw; /* Top right bottom left */
    font-size: 7vw;
  }

  .pitchStyle h2 {
    font-size: 3.5vw;
  }

  .pitchStyle {
    width: 100vw;
    height: 30vh;
  }

  .pitchImage {
    height: 60vh;
    margin-top: 0vw;
  }

  .pitchImage {
    width: 100vw;
  }

  .challenge-intro img {
    width: 32.8%;
    padding: 1px;
  }
}

/* phone version */
@media only screen and (max-width: 600px) {
  .pitchStyle h1 {
    margin: 15vh 0vw 0vw 5vw;
    font-size: 7vw;
  }

  .pitchStyle h2 {
    font-size: 3.5vw;
  }

  .pitchStyle {
    width: 100vw;
    height: 40vh;
  }

  .pitchImage {
    height: 45vh;
    margin-top: 0vw;
  }

  .pitchImage {
    width: 100vw;
  }

  .challenge-intro img {
    padding: 1px;
    width: 100%;
    height: 100%;
  }

  .solution-intro img {
    width: 60%;
  }

  .topMargin {
    margin-top: 0vw;
  }
}
