/*
 *  Here goes css specific to the meetingNotes HTML pages
 */

 body {
   background-color: #e6e6e6; /* Grey background */
 }

p {
  margin-top: 2vw;
}

ul {
  margin-top: -0.5vw;
}

li {
  margin-top: 0.5vw;
  line-height: 145%;
}

/* Source links */
 li a {
   text-decoration: none;
   color: black;
 }

/* For the images in meeting6.html */
img {
  width: 69vw;
  margin-top: 0.4vw;
  margin-bottom: 0.4vw;
}

/* Full width meetingNotes edition */
.col-notes {
  grid-column: col-1-start/col-6-end;
  background-color: white;
  padding: 3vw 5vw 7vw 5vw; /* Top right bottom left */
  margin: 1vw 10vw 3vw 10vw; /* Top right bottom left */
  box-shadow: 0px 0px 3px 1px grey; /* Box shadow with blur */
}

.noteButtons {
  margin: 2vw 15vw 0 15vw;
}

.noteButtons button {
  background-color: #808080;
  font-size: 1.6vw;
  padding: 0.2vw 1vw 0.2vw 1vw; /* Top right bottom left */
  border-radius: 4px;
  margin-left: -5vw;
  margin-right: -5vw;
}

.noteButtons button:hover {
  background-color: #666666;
}

.arrow {
  font-size: 1.5vw;
  vertical-align: top;
}

.buttonsUnderDocument {
  margin-top: -2vw;
  margin-bottom: 2vw;"
}

/* tablet version */
@media only screen and (max-width: 1000px) {
  .noteButtons {
    margin: 2vw 5vw 0 5vw; /* Top right bottom left */
  }

  .noteButtons button {
    padding: 0.7vw 1.4vw 0.7vw 1.4vw; /* Top right bottom left */
    font-size: 2vw;
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .arrow {
    font-size: 1.9vw;
  }
}

/* phone version */
@media only screen and (max-width: 600px) {
  .col-notes {
    margin: 2vw 2vw 3vw 2vw; /* Top right bottom left */
  }

  img {
    width: 84vw;
  }

  .noteButtons {
    margin-top: 4vw;
  }

  .noteButtons button {
    padding: 1.2vw 2vw 1.2vw 2vw; /* Top right bottom left */
    font-size: 3.5vw;
    margin-left: -3vw;
    margin-right: -3vw;
  }

  .arrow {
    font-size: 3.4vw;
  }

  .buttonsUnderDocument {
    margin-top: -1vw;
    margin-bottom: 2vw;
  }
}
