/*
 *  Here goes css specific to the process.html page
 */

 li {
   margin-bottom: 1.5vw;
 }

 a {
   font-weight: bold;
   text-decoration: none;
   color: black;
 }

 a:hover {
   border-bottom: #4ca146 solid 2px;
 }

/* Divide the page into 6 columns. The grid class needs to wrap everything
in the body */
.grid {
 display: grid;
 grid-template-columns: [col-1-start] 1fr [col-2-start] 1fr [col-3-start]
     1fr [col-4-start] 1fr [col-5-start] 1fr [col-6-start] 1fr [col-6-end];
 grid-row: auto;
}

/* Presenting the members */
.memberBox {
 width: 33%;
 margin: 10px;
 background-color: #4ca146;
 color: white;
 border-radius: 4px;
 text-align: center;
}

.memberbox-container {
  display: flex;
}

.memberNr {
  margin-top: 1.5vw;
  margin-bottom: 1.5vw;
}

.process-header {
  background-color: #4ca146;
}

@media only screen and (max-width: 600px) {
  /* Horizontal positioning -> vertical positioning */
  /* Bigger font size */
  .memberBox {
    width: 100%;
  }

  .memberNr {
    margin-top: 3vw;
    margin-bottom: 3vw;
  }
}
