/*
 *  CSS specific to the solution.html page
 */

table {
  border: 1px solid grey;
}

th {
  padding-top: 1vw;
}

td {
  padding: 1vw;
}

ul {
  margin-top: -1vw;
}

.solution li {
  line-height: 185%;
}

.solution-header {
  background-color: #4ca146;
}

.solution-image-container {
  display: flex;
  justify-content: space-between;
}

.solution-image {
  width: 45%;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 25px;
}

.solution-image img {
  display: block;
  margin: auto;
  width: 17vw;
  height: 30vw;
}

.air-quality-table {
  margin: 16px;
}

.air-quality-table caption {
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Tablet version */
@media only screen and (max-width: 1000px) {
  table {
    margin-left: 2vw;
    margin-right: 2vw;
  }
}

/* phone version */
@media only screen and (max-width: 600px) {
  .solution-image-container {
    flex-direction: column;
  }

  .solution-image {
    width: 100%;
  }

  .solution-image img {
    /* width: 100% */
    width: 70vw;
    height: 130vw;
  }
}
