/*
 *  CSS specific to the solution.html page
 */

 .functionimg {
   display: block;
   margin-left: auto;
   margin-right: auto;
 }

.colorfunctions {
  background-color: #cccccc;
}

td {
  padding: 1vw;
}

table {
  border: 1px solid grey;
}

th {
  padding-top: 1vw;
}
