/*
   Here goes css specific to the sources.html page
*/

.span1 {
  margin-left: 53px;
}

.span2 {
  margin-left: 26px;
}

.space {
  margin-bottom: -44px;
}

.extraSpacing {
  margin-top: 30px;
}

.sources-header {
   background-color: #4ca146;
}
